*{
    padding: 0;
    margin: 0;
    font-family: var(--main-font), sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    font-size: 16px;
    --main-font: "Chakra Petch";
    --main-bg-color: rgb(20,20,24);
    --second-bg-color: rgb(30, 30, 30);
    --yellow-font: #fff500;
    --green-font: #61FF00;
    --white-font: rgb(255,255,255);
    --blue-font: #00A3FF;
    --light-font: 300;
    --bold-font: 800;
    --main-gradient: linear-gradient(to top right, #00D1FF, #FAFF00);
}
::-webkit-scrollbar{
    width: .5rem;
    background: var(--second-bg-color);
}
::-webkit-scrollbar-thumb{
    background: var(--main-gradient);
}
.body__container{
    width: 100%;
    height: 100%;
    background:var(--main-bg-color);
    background-attachment: fixed;
    overflow-x: hidden;
}

/* ===== BACKGROUND =====*/

#stars1{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-small.svg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation:  floating-stars-down 150s linear infinite;
}
#stars2{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-small.svg);
    height: 100%;
    width: 100%;
    top: -1080px;
    background-size: cover;
    background-position: center;
    animation:  floating-stars-down 100s linear infinite;
}
#stars3{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-medium.svg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation:  floating-stars-up 120s linear infinite;
}
#stars4{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-medium.svg);
    height: 100%;
    width: 100%;
    top: 1080px;
    background-size: cover;
    background-position: center;
    animation:  floating-stars-up 120s linear infinite;
}
#stars5{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-large.svg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation:  floating-stars-sway 120s linear infinite;
}
#stars6{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-large.svg);
    height: 100%;
    width: 100%;
    transform: translateX(-1920px);
    background-size: cover;
    background-position: center;
    animation:  floating-stars-sway 120s linear infinite;
}
@keyframes floating-stars-up {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes floating-stars-down {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes floating-stars-sway {
    0%{
        transform: translateX(0px);

    }
    25%{
        transform: translateX(200px);
    }
    50%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* ===== HOME PAGE ===== */

.homepage{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 0px 10px black;
}
.navbar__wrapper{
    height: 3.5rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.705);
}
.navbar__wrapper::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100rem 0 var(--second-bg-color);
    backdrop-filter: blur(10px);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar li{
    list-style: none;
    padding: 1rem;
    z-index: 2;
}
.navbar a{
    text-decoration: none;
    color: var(--white-font);
    font-size: 1.1rem;
}
.navbar a:hover{
    color: rgb(1, 255, 221);
    transition: all .5s ease 0s;
}
#navbar__contact{
    border: 2px solid;
    border-image: var(--main-gradient);
    border-image-slice: 1;
    padding: .25rem .75rem;
    font-weight: var(--bold-font);
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 7rem;
}
.navbar__toggle{
    background-color: rgba(0, 255, 255, 0);
    height: 1.75rem;
    position: fixed;
    width: 2rem;
    top: .85rem;
    z-index: 2;
    right: 1rem;
}
.navbar__toggle span{
    position: absolute;
    background-color: var(--white-font);
    height: .25rem;
    width: 2rem;
    right: .25rem;
    top: .65rem;
    visibility: hidden;
}
.navbar__toggle span::before{
    content: "";
    position: absolute;
    background-color: var(--white-font);
    height: .25rem;
    width: 2rem;
    z-index: 2;
    transform: translateY(-.75rem);
}
.navbar__toggle span::after{
    content: "";
    position: absolute;
    background-color: var(--white-font);
    height: .25rem;
    width: 2rem;
    z-index: 2;
    transform: translateY(.75rem);
}
.nav__checkbox{
    display: none;
}
@media screen and (max-width: 700px) {
    .navbar__wrapper{
        transform: translateY(-17rem);
    }
    .navbar__toggle:hover{
        cursor: pointer;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar__contact{
        margin-right: 0;
    }
    .navbar__toggle span{
        visibility: visible;
    }
    #navbar__checkbox:checked ~ .navbar__wrapper{
        transform: translateY(0);
        transition: all .1s ease 0s;
    }
    #navbar__checkbox:checked ~ .navbar__wrapper::before{
        height: 520%;
        transition: all .1s ease 0s;
        transform: translateY(0);
    }
    #navbar__checkbox:checked ~ .navbar__toggle span::before{
        transform: rotate(45deg);
        transition: all .1s ease 0s;
    }
    #navbar__checkbox:checked ~ .navbar__toggle span::after{
        transform: rotate(-45deg);
        transition: all .1s ease 0s;
    }
    #navbar__checkbox:checked ~ .navbar__toggle span{
        background-color: rgb(0,0,0,0);
        transition: all .1s ease 0s;
    }
}
.homepage__welcome{
    color: var(--white-font);
    position: relative;
    display: grid;
    width: 100%;
    height: inherit;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    "h1 logo"
    "h2 logo";
}
.homepage__welcome h1{
    font-size: 6rem;
    font-weight: var(--light-font);
    grid-area: h1;
    place-self: end;
    text-align: right;
}
.homepage__welcome h2{
    font-size: 1rem;
    font-weight: var(--light-font);
    grid-area: h2;
    justify-self: end;
    padding-right: .5rem;
}
.homepage__welcome img{
    grid-area: logo;
    align-self: center;
    padding-left: 1rem;
}
.navarrow{
    align-self: center;
    animation: floating 1.5s ease 0s infinite;
}
.navarrow img{
    width: 5rem;
}
@media screen and (max-width: 700px){
    .homepage__welcome{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        grid-template-areas: 
        "h1"
        "h2"
        "logo";
    }
    .homepage__welcome h1, h2, img{
        margin: 1rem auto;
        text-align: center;
    }
}
@keyframes floating {
    0%{
        transform: translateY(0) ;
    }
    50%{
        transform: translateY(-1rem);
    }
}

/* ===== SKILLS ===== */

.skills__section{
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.background__graphics{
    position: absolute;
    opacity: 1%;
}
#keyboard__svg{
    width: 100rem;
    z-index: -5;
    left: -30rem;
    transform: rotate(35deg);
}
.skills__section h3{
    font-size: 4rem;
    width: 40%;
    align-self: center;
    text-align: center;
    color: var(--white-font);
    font-weight: 100;
    letter-spacing: .2rem;
    position: relative;
    text-shadow: 0px 0px 10px black;
}
.skills__section h3::after{
    content: '';
    position: absolute;
    width: .2rem;
    height: 3.5rem;
    top: .75rem;
    margin-left: .25rem;
    animation: blinking .6s ease infinite;
}
@keyframes blinking {
    0%{
        background-color: transparent;
    }
    100%{
        background-color: white;
    }
}
.skills__card__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
    margin: auto;
    gap: 1rem;
    position: relative;
}
/* .skills__card__wrapper::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: var(--main-gradient);
    opacity: 50%;
    justify-self: center;
    top: -2rem;
}
.skills__card__wrapper::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 300px;
    background: var(--main-gradient);
    left: 50%;
    bottom: -22rem;
    opacity: 50%;
} */
.skills__card{
    color: var(--white-font);
    height: 12rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    border-radius: 10px;
    position: relative;
    box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, .5);
}
.skills__card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10rem 0 rgba(68, 68, 68, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: -1;
}
.skills__card:hover{
    transform: translateY(-5px);
    box-shadow: -4px 8px 30px 1px rgba(0, 0, 0, .5);
    transition: all .1s ease 0s;
}
.skills__svg{
    width: 100px;
}
@media screen and (max-width: 900px){
    .skills__section{
        flex-direction: column;
    }
    .skills__card__wrapper{
        width: 95%;
        padding: 0;
        margin: auto;
    }
    .skills__section h3{
        width: auto;
        position: absolute;
        top: 15rem;
    }
    .skills__card{
        width: 95%;
    }
}

/* ===== PROJECTS ===== */

.projects__section{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "preview_1 description_1"
    "description_2 preview_2"
    "preview_3 description_3"
    "description_4 preview_4";
    row-gap: 15rem;
    column-gap: 3rem;
    padding: 10rem 0;
}
.projects__preview{
    display: flex;
    width: 100%;
    align-items: center;
}
.projects__description{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    text-shadow: 0px 0px 10px black;
}
.projects__preview__1{
    grid-area: preview_1;
    justify-content: flex-end;
}
.projects__preview__2{
    grid-area: preview_2;
}
.projects__preview__3{
    grid-area: preview_3;
    justify-content: flex-end;
}
.projects__preview__4{
    grid-area: preview_4;
}
.projects__description__1{
    grid-area: description_1;
}
.projects__description__2{
    grid-area: description_2;
    justify-self: flex-end;
}
.projects__description__3{
    grid-area: description_3;
}
.projects__description__4{
    grid-area: description_4;
    justify-self: flex-end;
}
.projects__description__2 h4,.projects__description__2 a,
.projects__description__4 h4,.projects__description__4 a,
.projects__description__2 p,.projects__description__4 p{
    text-align: right;
    align-self: flex-end;
}
.projects__preview img{
    width: 95%;
    max-width: 40rem;
    aspect-ratio: 16/9;
    box-shadow: -4px 8px 20px 5px rgba(0, 0, 0, 0.5);
}
.projects__description h4{
    color: var(--white-font);
    font-weight: var(--bold-font);
    font-size: 4rem;
    padding-bottom: 2rem;
}
.projects__description p{
    color: var(--white-font);
    font-size: 1rem;
    font-weight: var(--light-font);
    padding-bottom: 7rem;
    max-width: 45ch;
}
.projects__description a{
    color: var(--blue-font);
    text-decoration: none;
    border: 1px solid var(--blue-font);
    padding: .25rem;
    width: 4rem;
}

@media screen and (max-width: 807px) {
    /* below changes projects into single column grid for smaller screens. */
    .projects__section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
        "preview_1"
        "description_1"
        "preview_2"
        "description_2"
        "preview_3"
        "description_3"
        "preview_4"
        "description_4";
        place-items: center;
        row-gap: 0;
        padding: 5rem 0;
    }
    .projects__preview{
        justify-content: center;
        align-content: center;
    }
    .projects__description a,
    .projects__description h4,
    .projects__description p,
    .projects__description{
        justify-content: center;
        justify-self: center;
        align-self: center;
        text-align: center;
    }
    .projects__description{
        margin-bottom: 5rem;
    }
}
.aboutme__section{
    display: flex;
    flex-direction: row;
    color: var(--white-font);
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.aboutme__logo__description{
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(12,12,12);
    transition: all .1s ease 0s;
    position: relative;
    overflow: hidden;
    grid-area: logo_desc;
}
.aboutme__logo__description::before{
    content: '';
    position: absolute;
    width: 0;
    height: 1rem;
    place-self: center;
    border-radius: 10px;
    background-color: rgb(1, 255, 221);
    visibility: hidden;
}
.aboutme__logo__description::after{
    content: '';
    position: absolute;
    background-color: var(--main-bg-color);
    inset: 4px;
    border-radius: 10px;
    transition: all .1s ease 0s;
}
.aboutme__logo__description p{
    max-width: clamp(45ch, 50%, 75ch);
    z-index: 2;
    visibility: hidden;
}
@keyframes border--anim {
    0%{
        transform: rotate(0deg);
        width: 200%;
    }
    100%{
        transform: rotate(360deg);
        width: 200%;
    }
}
@keyframes self--vis {
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
.logo__description__checkbox{
    display: none;
}
.logo__description__checkbox:checked ~ .aboutme__logo__description{
    background-color: transparent;
    color: var(--white-font);
    transform: translateY(-10px);
    box-shadow: -4px 8px 20px 3px rgba(0, 0, 0, 0.5);
    transition: all .5s linear 1s;
}
.logo__description__checkbox:checked ~ .aboutme__logo__description p{
    visibility: visible;
    transition: all .5s linear 1s;
}
.logo__description__checkbox:checked ~ .aboutme__logo__description::before{
    visibility: visible;
    animation: border--anim 1s linear 1;
}
.logo__description__checkbox:checked ~ .aboutme__logo__description::after{
    box-shadow: inset 0 0 100rem 0 rgb(30,30,30);
    backdrop-filter: blur(10px);
    transition: all .5s linear 1s;
}
.aboutme__logo{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 16%;
    grid-area: logo;
}
.whatsthis{
    display: flex;
    gap: .2rem;
    opacity: 10%;
    cursor: pointer;
}
.whatsthis:hover{
    opacity: 100%;
    transition: all .1s ease 0s;
    gap: .5rem;
}
.aboutme__description{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    line-height: 1.5rem;
    text-shadow: 0px 0px 10px black;
    width: 40%;
    grid-area: aboutme;
}
.aboutme__description h3{
    font-size: 4rem;
    color: var(--white-font);
    font-weight: var(--light-font);
    padding-bottom: 3rem;
    position: relative;
}

.aboutme__description p{
    max-width: clamp(45ch, 50%, 75ch);
}
@media screen and (max-width: 1000px) {
    .aboutme__section{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3fr 1fr 2fr;
        grid-template-areas: 
        "aboutme"
        "logo"
        "logo_desc";
        place-items: center;
        overflow: hidden;
    }
    .aboutme__description{
        width: 70%;
        text-align: center;
    }
    .aboutme__logo__description{
        max-width: 80%;
    }
    .whatsthis img{
        display: none;
    }
    .whatsthis{
        width: 7rem;
    }
}