*{
    padding: 0;
    margin: 0;
    font-family: var(--main-font), sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    font-size: 16px;
    --main-font: "Chakra Petch";
    --main-bg-color: rgb(20,20,24);
    --second-bg-color: rgb(30, 30, 30);
    --yellow-font: #fff500;
    --green-font: #61FF00;
    --white-font: rgb(255,255,255);
    --cyan-font: rgb(1, 255, 221);
    --light-font: 300;
    --bold-font: 800;
    --main-gradient: linear-gradient(to top right, #00D1FF, #FAFF00);
}
::-webkit-scrollbar{
    width: .5rem;
    background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb{
    background: white;
}
.body__container{
    width: 100%;
    height: 100%;
    background:var(--main-bg-color);
    background-attachment: fixed;
}

/* ===== BACKGROUND =====*/

#stars1{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-small.svg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
    animation:  floating-stars-down 150s linear infinite;
}
#stars2{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-small.svg);
    height: 100%;
    width: 100%;
    top: -1080px;
    background-size: cover;
    background-position: center;
    z-index: -10;
    animation:  floating-stars-down 120s linear infinite;
}
#stars3{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-medium.svg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
    animation:  floating-stars-up 150s linear infinite;
}
#stars4{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-medium.svg);
    height: 100%;
    width: 100%;
    top: 1080px;
    background-size: cover;
    background-position: center;
    z-index: -10;
    animation:  floating-stars-up 120s linear infinite;
}
#stars5{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-large.svg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
    animation:  floating-stars-sway 120s linear infinite;
}
#stars6{
    position: fixed;
    background-image: url(/WebDevProjects/Portfolio/portfolioIcons/stars-large.svg);
    height: 100%;
    width: 100%;
    transform: translateX(-1920px);
    background-size: cover;
    background-position: center;
    z-index: -10;
    animation:  floating-stars-sway 120s linear infinite;
}
@keyframes floating-stars-up {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes floating-stars-down {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes floating-stars-sway {
    0%{
        transform: translateX(0px);

    }
    25%{
        transform: translateX(200px);
    }
    50%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* ===== HOME PAGE ===== */

.homepage{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar__wrapper{
    height: 3.5rem;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar li{
    list-style: none;
    padding: 1rem;
}
.navbar a{
    text-decoration: none;
    color: var(--white-font);
    font-size: 1.1rem;
}
.navbar a:hover{
    color: rgb(1, 255, 221);
    transition: all .2s ease 0s;
}
#navbar__contact{
    border: 2px solid var(--cyan-font);
    color: var(--cyan-font);
    padding: .25rem .75rem;
    font-weight: var(--bold-font);
    margin-right: 7rem;
    transition: all .1s ease 0s;
}
#navbar__contact:hover{
    border: 2px solid var(--cyan-font);
    background-color: var(--cyan-font);
    color: var(--main-bg-color);
    padding: .25rem .75rem;
    font-weight: var(--bold-font);
    margin-right: 7rem;
}
.navbar__toggle{
    background-color: rgba(0, 0, 0, 0);
    height: 1.75rem;
    position: fixed;
    width: 2rem;
    top: .85rem;
    z-index: 3;
    right: 1rem;
    transform: translateX(10rem);
}
.navbar__toggle span{
    position: absolute;
    background-color: var(--white-font);
    height: .25rem;
    width: 2rem;
    right: .25rem;
    top: .65rem;
    visibility: hidden;
}
.navbar__toggle span::before{
    content: "";
    position: absolute;
    background-color: var(--white-font);
    height: .25rem;
    width: 2rem;
    z-index: 2;
    transform: translateY(-.75rem);
}
.navbar__toggle span::after{
    content: "";
    position: absolute;
    background-color: var(--white-font);
    height: .25rem;
    width: 2rem;
    z-index: 2;
    transform: translateY(.75rem);
}
.nav__checkbox{
    display: none;
}
@media screen and (max-width: 700px) {
    .navbar__wrapper{
        transform: translateY(-17rem);
    }
    .navbar__toggle:hover{
        cursor: pointer;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 1rem 0 var(--second-bg-color),
        0 0 3rem 0 rgba(0, 0, 0);
        backdrop-filter: blur(1rem);
    }
    #navbar__contact{
        margin-right: 0;
    }
    .navbar__toggle{
        transform: translateX(0);
    }
    .navbar__toggle span{
        visibility: visible;
    }
    #navbar__checkbox:checked ~ .navbar__wrapper{
        transform: translateY(0);
        transition: all .1s ease 0s;
    }
    #navbar__checkbox:checked ~ .navbar__toggle span::before{
        transform: rotate(45deg);
        transition: all .1s ease 0s;
    }
    #navbar__checkbox:checked ~ .navbar__toggle span::after{
        transform: rotate(-45deg);
        transition: all .1s ease 0s;
    }
    #navbar__checkbox:checked ~ .navbar__toggle span{
        background-color: rgb(0,0,0,0);
        transition: all .1s ease 0s;
    }
    .sticky__navbar{
        display: none;
    }
}
.homepage__welcome{
    color: var(--white-font);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.homepage__welcome h1{
    font-size: 6rem;
    position: relative;
    overflow: hidden;
    color: transparent;
    animation: visible-text 0.75s linear forwards;
}
.homepage__welcome h1::after{
    content: '';
    position: absolute;
    background-color: var(--cyan-font);
    inset: 0;
    width: 200%;
    left: -200%;
    animation: right-reveal 1.5s linear 0.25s forwards;
}
.homepage__welcome h2{
    font-size: 1rem;
    font-weight: var(--light-font);
    padding-right: .5rem;
    position: relative;
    overflow: hidden;
    color: transparent;
    animation: visible-text 1s linear forwards;
}
.homepage__welcome h2::after{
    content: '';
    position: absolute;
    background-color: white;
    inset: 0;
    width: 200%;
    left: -200%;
    animation: right-reveal 1.5s linear 0.5s forwards;
}
.homepage__welcome img{
    width: 175px;
    transform: translateY(5rem);
    position: relative;
    opacity: 0;
    animation: fade-reveal 1s ease 2s forwards;
}
.navarrow{
    align-self: center;
    animation: floating 1.5s ease infinite;
}
.navarrow img{
    width: 5rem;
}
@media screen and (max-width: 700px){
    .homepage__welcome{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        grid-template-areas: 
        "h1"
        "h2"
        "logo";
    }
    .homepage__welcome h1, h2, img{
        margin: 1rem auto;
        text-align: center;
    }
}
@keyframes floating {
    0%{
        transform: translateY(0) ;
    }
    50%{
        transform: translateY(-1rem);
    }
}
@keyframes right-reveal {
    100%{
        left: 200%;
    }
}
@keyframes visible-text {
    99%{
        color: transparent;
    }
    100%{
        color: white;
    }
}
@keyframes fade-reveal {
    to{
        opacity: 100%;
    }
}


/* ===== ABOUT ME ===== */

.sticky__navbar{
    width: 100%;
    height: 3.5rem;
    box-shadow: inset 0 0 10rem 0 var(--second-bg-color),
    0 5px 2rem 0 rgba(0, 0, 0,0.5);
    backdrop-filter: blur(1rem);
    position: sticky;
    top: 0;
    z-index: 1;
}
.aboutme__section{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "aboutme aboutme"
    "aboutme__card skills__card";
    position: relative;
    place-items: center;
    padding-top: 5rem;
}
.aboutme__section h3{
    font-size: 4rem;
    color: var(--white-font);
    letter-spacing: .2rem;
    position: relative;
    text-shadow: 0px 0px 10px black;
    grid-area: aboutme;
}
.aboutme__section h3::after{
    content: '';
    position: absolute;
    width: .2rem;
    height: 3.5rem;
    top: .75rem;
    margin-left: .25rem;
    animation: blinking 1s linear infinite;
}
.aboutme__card__wrapper{
    display: flex;
    flex-direction: column;
    color: var(--white-font);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5),
    inset 0 0 10rem 30rem rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(5px);
    width: 60%;
    height: 40rem;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.logo__button img{
    width: 175px;
    animation: wiggle 2s linear infinite;
    cursor: pointer;
}
.personal__desc{
    grid-area: desc;
    line-height: 2rem;
    max-width: 45ch;
}
.logo__desc{
    box-shadow: inset 0 0 100rem 1rem rgba(0, 255, 242, 0.089);
    border-radius: 5px;
    max-width: 45ch;
    padding: 1rem;
    transform: translateY(1rem);
}
.logo__checkbox:checked ~ {
    animation: slide-reveal 2s linear forwards;
    transition: all 1s ease 0s;
}
#keyboard__svg{
    position: absolute;
    opacity: 1%;
    width: 100rem;
    z-index: -5;
    left: -30rem;
    top: 0;
    transform: rotate(35deg);
}
.logo__checkbox{
    display: none;
}
@keyframes slide-reveal {
    0%{
        transform: translateX(0);
    }
}
@keyframes wiggle {
    0%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(5deg);
    }
    85%{
        transform: rotate(-5deg);
    }
    90%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes gradient-shift {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes blinking {
    0%{
        background-color: transparent;
    }
    45%{
        background-color: transparent;
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}


/* ===== SKILLS ===== */


.skills__card__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    position: relative;
    grid-area: skills__card;
}
.skills__card{
    color: var(--white-font);
    height: 12rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5),
    inset 0 0 20rem 0 rgba(50, 50, 50, 0.75);
    backdrop-filter: blur(5px);
}
.skills__card:hover{
    transform: translateY(-5px);
    box-shadow: -4px 8px 30px 1px rgba(0, 0, 0, .5),
    inset 0 0 20rem 0 rgba(50, 50, 50, 0.75);
    transition: all .1s ease 0s;
}
.skills__svg{
    width: 80px;
}
@media screen and (max-width: 900px){
    .aboutme__section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 5fr;
        grid-template-areas: 
        "aboutme"
        "aboutme__card"
        "skills__card";
    }
}

/* ===== PROJECTS ===== */

.projects__section{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "preview_1 description_1"
    "description_2 preview_2"
    "preview_3 description_3"
    "description_4 preview_4";
    row-gap: 15rem;
    column-gap: 3rem;
    padding: 10rem 0;
}
.projects__preview{
    display: flex;
    align-items: center;
}
.projects__description{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    text-shadow: 0px 0px 10px black;
}
.projects__preview__1{
    grid-area: preview_1;
    justify-content: flex-end;
}
.projects__preview__2{
    grid-area: preview_2;
}
.projects__preview__3{
    grid-area: preview_3;
    justify-content: flex-end;
}
.projects__preview__4{
    grid-area: preview_4;
}
.projects__description__1{
    grid-area: description_1;
}
.projects__description__2{
    grid-area: description_2;
    justify-self: flex-end;
}
.projects__description__3{
    grid-area: description_3;
}
.projects__description__4{
    grid-area: description_4;
    justify-self: flex-end;
}
.projects__description__2 h4,.projects__description__2 a,
.projects__description__4 h4,.projects__description__4 a,
.projects__description__2 p,.projects__description__4 p{
    text-align: right;
    align-self: flex-end;
}
.projects__preview img{
    width: 95%;
    max-width: 40rem;
    aspect-ratio: 16/9;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5);
}
.projects__description h4{
    color: var(--white-font);
    font-weight: var(--bold-font);
    font-size: 4rem;
    padding-bottom: 2rem;
}
.projects__description p{
    color: var(--white-font);
    font-size: 1rem;
    font-weight: var(--light-font);
    padding-bottom: 7rem;
    max-width: 45ch;
}
.projects__description a{
    color: var(--cyan-font);
    text-decoration: none;
    border: 1px solid var(--cyan-font);
    padding: .25rem;
    width: 4rem;
}

@media screen and (max-width: 807px) {
    /* below changes projects into single column grid for smaller screens. */
    .projects__section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
        "preview_1"
        "description_1"
        "preview_2"
        "description_2"
        "preview_3"
        "description_3"
        "preview_4"
        "description_4";
        place-items: center;
        row-gap: 0;
        padding: 5rem 0;
    }
    .projects__preview{
        justify-content: center;
        align-content: center;
    }
    .projects__description a,
    .projects__description h4,
    .projects__description p,
    .projects__description{
        justify-content: center;
        justify-self: center;
        align-self: center;
        text-align: center;
    }
    .projects__description{
        margin-bottom: 5rem;
    }
}

